/* Fullscreen */
.CodeMirror-fullscreen {
	display: block;
	position: absolute ! important;
	top: 0; left: 0;
	width: 100% ! important;
	z-index: 9999;
}

/* BREAKPOINTS */

.breakpoints {width: .8em;}
.breakpoint { color: #822; }


