{{extend 'layout.html'}}

{{block sectionclass}}about{{end}}

<h2>{{=T("About application")}} "{{=app}}"</h2>
<h3>{{=T("About")}} {{=app}}</h3>
<p class="controls">{{=button(URL('edit/%s/ABOUT' % (app)), T('Edit'))}}</p>
<div class="about_text legalese">{{=about}}</div>
<h3>{{=T('License for')}} {{=app}}</h3>
<p class="controls">{{=button(URL('edit/%s/LICENSE' % (app)), T('Edit'))}}</p>
<div class="license_text legalese">{{=license}}</div>
</ul>

<script language="javascript" type="text/javascript" src="{{=URL('static','js/jquery.flot.js')}}"></script>

<h3>{{=T('Project Progress')}}</h3>
<p>
<center>
<div id="placeholder" style="width:600px;height:300px;"></div>
</center>
<script type="text/javascript">
jQuery(function () { jQuery.plot(jQuery("#placeholder"), [ {{=progress}} ]); });
</script>
</p>
