{{extend 'layout.html'}}
{{
import re
regex_space = re.compile('\s+')
def all(items):
    return reduce(lambda a,b:a and b,items,True)
def peekfile(path,file,vars={},title=None):
    args=(path,file) if 'app' in vars else (app,path,file)
    return A(file.replace('\\\\','/'),_title=title,_href=URL('peek', args=args, vars=vars))
def editfile(path,file,vars={}):
    args=(path,file) if 'app' in vars else (app,path,file)
    return A(T('Edit'),_class='btn small rounded black',_href=URL('edit', args=args, vars=vars))
def testfile(path,file):
    return A(I(_class="fa fa-cog"),**{
         '_class':'btn small rounded black',
         '_data-tooltip':T("Run tests in this file (to run all files, you may also use the but\
ton labelled 'test')")})
def editlanguagefile(path,file,vars={}):
    return A(T('Edit'),_class='button editbutton btn rounded small',_href=URL('edit_language', args=(app, path, file), vars=vars))
def editpluralsfile(path,file,vars={}):
    return A(T('Edit'),_class='button editbutton btn rounded small',_href=URL('edit_plurals', args=(app, path, file), vars=vars))
def file_upload_form(location, anchor=None):
    form=FORM(
            LABEL(T("upload file:")),
            INPUT(_type="file",_name="file"),
            LABEL(T("and rename it:")),
            INPUT(_type="text",_name="filename",requires=IS_NOT_EMPTY(),_class=""),
            DIV(TAG['BUTTON'](T("Upload"),_type="submit",_class="btn"),_class="controls"),
            INPUT(_type="hidden",_name="location",_value=location),
            INPUT(_type="hidden",_name="token",_value=session.token),
            INPUT(_type="hidden",_name="sender",_value=URL('design',args=app, anchor=anchor)),
            _action=URL('upload_file'),
            _class="generatedbyw2p well well-small")
    return form
def file_create_form(location, anchor=None, helptext=""):
    form=FORM(
            LABEL(T("create file with filename:")),
            INPUT(_type="text",_name="filename",requires=IS_NOT_EMPTY(),_class=''),
            TAG['SMALL'](helptext,_class="help-block"),
            DIV(TAG['BUTTON'](T("Create"),_type="submit",_class="btn"),_class="controls"),
            INPUT(_type="hidden",_name="location",_value=location),
            INPUT(_type="hidden",_name="sender",_value=URL('design',args=app)),
            INPUT(_type="hidden",_name="token",_value=session.token),
            INPUT(_type="hidden",_name="id",_value=anchor),
            _action=URL('create_file'),
            _class="generatedbyw2p well well-small")
    return form
def upload_plugin_form(app, anchor=None):
    form=FORM(
            LABEL(T("upload plugin file:")),
            INPUT(_type="file",_name="pluginfile"),
            INPUT(_type="hidden",_name="id",_value=anchor),
            INPUT(_type="hidden",_name="token",_value=session.token),
            DIV(TAG['BUTTON'](T("Upload"),_type="submit",_class="btn"),_class="controls"),
            _class="generatedbyw2p well well-small")
    return form
def deletefile(arglist, vars={}):
    vars.update({'sender':request.function+'/'+app})
    return A(I(_class='fa fa-trash'),_class="red rounded small btn",
            _href=URL('delete',args=arglist,vars=vars))
}}

{{block sectionclass}}design{{end}}
<!-- begin "design" block -->

<h2>{{=T("Edit application")}} "{{=A(app,_href=URL(app,'default','index'),_target="_blank")}}"</h2>

<!-- COLLAPSE/JUMP-TO BUTTONS -->
<div class="container">
  <div class="fill">
    <input placeholder="filter" id="search" style="left:100px"/>
  </div>
  <div class="fill">
    <div class="padded">
      <a class="btn rounded small black" href="#" onclick="jQuery('.accordion>[type=checkbox]').click();return false">{{=T("collapse/expand all")}}</a>
      <a href="#models" class="btn small rounded orange">{{=T("models")}}</a>
      <a href="#controllers" class="btn small rounded orange">{{=T("controllers")}}</a>
      <a href="#views" class="btn small rounded orange">{{=T("views")}}</a>
      <a href="#models" class="btn small rounded orange">{{=T("languages")}}</a>
      <a href="#static" class="btn small rounded orange">{{=T("static")}}</a>
      <a href="#models" class="btn small rounded orange">{{=T("modules")}}</a>
      <a href="#private" class="btn small rounded orange">{{=T("private files")}}</a>
      <a href="#plugins" class="btn small rounded orange">{{=T("plugins")}}</a>
    </div>
  </div>
</div>

<!-- MODELS -->
<h5 id="_models">
  <label class="component" for="models_inner" data-tooltip="{{=T('The data representation, define database tables and sets')}}">{{=T("Models")}}</label>  
</h5>
<div class="accordion">
  <input type="checkbox" id="models_inner" checked>
  <div>
    <a href="#" class="right btn rounded small yellow">top</a>
    {{if not models:}}<p><strong>{{=T("There are no models")}}</strong></p>{{else:}}
    <div class="controls comptools">
      {{=button(URL(a=app,c='appadmin',f='index'), T('database administration'))}}
      {{if os.access(os.path.join(request.folder,'..',app,'databases','sql.log'),os.R_OK):}}
      {{=button(URL('peek/%s/databases/sql.log'%app), 'sql.log')}}
      {{pass}}
      {{=button(URL(a=app, c='appadmin',f='graph_model'), T('graph model'))}}
    </div>
    <ul class="unstyled act_edit">
      {{for m in models:}}
      {{id="models__"+m.replace('.','__')}}
      <li id="{{='_'+id}}"><span id="{{=id}}" class="hashstick">&nbsp;</span>
        <span class="filetools controls">
          {{=editfile('models',m, dict(id=id))}}
          {{=deletefile([app, 'models', m], dict(id=id, id2='models'))}}
        </span>
        <span class="file">
          {{=peekfile('models',m, dict(id=id))}}
        </span>
        <span class="extras">
          {{if len(defines[m]):}}{{=T("defines tables")}} {{pass}}{{=XML(', '.join([B(table).xml() for table in defines[m]]))}}
        </span>
      </li>
      {{pass}}
    </ul>
    {{pass}}
    <div class="silver rounded padded">
      <button onclick="jQuery('#form1').slideToggle()" class="btn rounded small">{{=T('Create')}}</button>
      <div id="form1" class="row-fluid" style="display:none">
        <div class="span3">{{=file_create_form('%s/models/' % app, 'models')}}</div>
      </div>
    </div>
  </div>
</div>

<!-- FIND CONTROLLER FUNCTIONS -->
{{
controller_functions=[]
for c in controllers: controller_functions+=[c[:-3]+'/%s.html'%x for x in functions[c]]
}}

<!-- CONTROLLERS -->
<h5 id="_controllers">
  <label class="component" for="controllers_inner" data-tooltip="{{=T('The application logic, each URL path is mapped in one exposed function in the controller')}}">{{=T("Controllers")}}</label>  
</h5>
<div class="accordion">
  <input type="checkbox" id="controllers_inner" checked>
  <div>
    <a href="#" class="right btn rounded small yellow">top</a>
    {{if not controllers:}}<p><strong>{{=T("There are no controllers")}}</strong></p>{{else:}}
    <div class="controls comptools">
      {{=button(URL(r=request,c='shell',f='index',args=app), T("shell"))}}
      {{=button(URL('test',args=app), T("test"))}}
      {{=button(URL('edit',args=[app,'cron','crontab']), T("crontab"))}}
    </div>
    <ul class="unstyled act_edit">
      {{for c in controllers:}}
      {{id="controllers__"+c.replace('.','__')}}
      <li id="{{='_'+id}}"><span id="{{=id}}" class="hashstick">&nbsp;</span>
        <span class="filetools controls">
          {{=editfile('controllers',c, dict(id=id))}}
          {{=deletefile([app, 'controllers', c], dict(id=id, id2='controllers'))}}
          {{=testfile('controllers',c)}}
        </span>
        <span class="file">
          {{=peekfile('controllers',c, dict(id=id))}}
        </span>
        <span class="extras celled">
          {{if functions[c]:}}{{=T("exposes")}}{{pass}} {{=XML(', '.join([A(f,_href=URL(a=app,c=c[:-3],f=f)).xml() for f in functions[c]]))}}
        </span>
      </li>
      {{pass}}
    </ul>
    {{pass}}
    <div class="silver rounded padded">
      <button onclick="jQuery('#form2').slideToggle()" class="btn rounded small">{{=T('Create')}}</button>
      <div id="form2" class="row-fluid" style="display:none">
        <div class="span3">{{=file_create_form('%s/controllers/' % app, 'controllers')}}</div>
      </div>
    </div>
  </div>
</div>

<!-- VIEWS -->
<h5 id="_views">
  <label class="component" for="views_inner" data-tooltip="{{=T('The presentations layer, views are also known as templates')}}">{{=T("Views")}}</label>  
</h5>
<div class="accordion">
  <input type="checkbox" id="views_inner" checked>
  <div>
    <a href="#" class="right btn rounded small yellow">top</a>
    {{if not views:}}<p><strong>{{=T("There are no views")}}</strong></p>{{else:}}
    <div class="controls comptools">
      {{=button(LAYOUTS_APP, T("Download layouts from repository"))}}
    </div>
    <ul class="unstyled act_edit">
      {{for c in views:}}
      {{id="views__"+c.replace('/','__').replace('.','__')}}
      <li id="{{='_'+id}}"><span id="{{=id}}" class="hashstick">&nbsp;</span>
        <span class="filetools controls">
          {{=editfile('views',c, dict(id=id))}}
          {{=deletefile([app, 'views', c], dict(id=id, id2='views'))}}
        </span>
        <span class="file">
          {{=peekfile('views',c, dict(id=id))}}
        </span>
        <span class="extras celled celled-one">
        {{if c in extend:}}{{=T("extends")}} <b>{{=extend[c]}}</b> {{pass}}
        {{if include[c]:}}{{=T("includes")}} {{pass}}{{=XML(', '.join([B(f).xml() for f in include[c]]))}}
        </span>
      </li>
      {{pass}}
    </ul>
  {{pass}}
    <div class="silver rounded padded">
      <button onclick="jQuery('#form3').slideToggle()" class="btn rounded small">{{=T('Create')}}</button>
      <div id="form3" class="row-fluid" style="display:none">
        <div class="span3">{{=file_create_form('%s/views/' % app, 'views')}}</div>
      </div>
    </div>
  </div>
</div>

<!-- LANGUAGES -->
<h5 id="_languages">
  <label class="component" for="languages_inner" data-tooltip="{{=T('Translation strings for the application')}}">{{=T("Languages")}}</label>  
</h5>
<div class="accordion">
  <input type="checkbox" id="languages_inner" checked>
  <div>
    <a href="#" class="right btn rounded small yellow">top</a>
    {{if not languages:}}<p><strong>{{=T("There are no translators, only default language is supported")}}</strong></p>{{else:}}
    <div class="controls comptools">
      {{=button(URL('update_languages/'+app), T('update all languages'))}}
    </div>
    <ul class="unstyled act_edit">
      {{for lang in sorted(languages):
      file = lang+'.py'
      id = "languages__"+file.replace('.','__')}}
      <li id="{{='_'+id}}" class="li-row"><span id="{{=id}}" class="hashstick">&nbsp;</span>
        <span class="li-controls">
          <span class="filetools controls">
            {{=editlanguagefile('languages',file)}}
            {{=deletefile([app, 'languages', file], dict(id=id, id2='languages'))}}
        </span>
          <span class="">
            {{=peekfile('languages',file, dict(id=id))}}
          </span>
        </span> <!-- /li-row -->
        <span class="extras celled">
        (
        {{=T("Plural-Forms:")}}
        {{p=languages[lang][3:7]}}
        {{if p[2] == 'default':}}
        <span class='error text-error'>{{=T("rules are not defined")}}</span> {{=T.M("(file **gluon/contrib/plural_rules/%s.py** is not found)",lang[:2])}}
        {{else:}}
        {{if p[3] == 1:}}
        {{=B(T("are not used"))}}
        {{else:}}
        {{pfile=p[0]}}
        {{if p[1]!=0:}}<span style="display:inline-block;margin-top:-10px;">
          <span class="filetools controls">
            {{=editpluralsfile('languages',pfile,dict(nplurals=p[3]))}}
          </span>
          <span class="file">
            {{=peekfile('languages',pfile,dict(id=id))}}
        </span></span>
        {{else:}}
        <b>{{=T("are not used yet")}}</b>
        {{pass}}
        {{pass}}
        {{pass}}
        )
      </span>
      </li>
      {{pass}}
    </ul>
  {{pass}}
    <div class="silver rounded padded">
      <button onclick="jQuery('#form4').slideToggle()" class="btn rounded small">{{=T('Create')}}</button>
      <div id="form4" class="row-fluid" style="display:none">
        <div class="span3">{{=file_create_form('%s/languages/' % app, 'languages', T('(something like "it-it")'))}}</div>
    </div>
    </div>
  </div>
</div>

<!-- STATIC -->
<h5 id="_static">
  <label class="component" for="static_inner" data-tooltip="{{=T('These files are served without processing, your images go here')}}">{{=T("Static")}}</label>  
</h5>
<div class="accordion">
  <input type="checkbox" id="static_inner" checked>
  <div>
    <a href="#" class="right btn rounded small yellow">top</a>
    {{if not statics:}}<p><strong>{{=T("There are no static files")}}</strong></p>{{else:}}
    <ul class="unstyled act_edit">
      {{
        path=[]
        for file in statics+['']:
            items=file.split('/')
            file_path=items[:-1]
            filename=items[-1]
            while path!=file_path:
                if len(file_path)>=len(path) and all([v==file_path[k] for k,v in enumerate(path)]):
                    path.append(file_path[len(path)])
                    thispath = regex_space.sub('-', 'static__'+'__'.join(path))
    }}
      <li class="folder"><i>&nbsp;</i>
        <a href="javascript:collapse('{{=thispath}}');" class="file">{{=path[-1]}}/</a>
        <ul id="{{=thispath}}" style="display: none;" class="sublist">{{
          else:
          path = path[:-1]
          }}
        </ul>
      </li>
    {{
                pass
            pass
        if filename:
    }}
      <li>
        <span class="filetools controls">
          {{=editfile('static',file, dict(id="static"))}} {{=deletefile([app,'static',file], dict(id="static",id2="static"))}}
        </span>
        <span class="file">
          <a href="{{=URL(a=app,c='static',f=file)}}">{{=filename}}</a>
        </span>
    </li>{{
      pass
      pass
      }}
    </ul>
    {{pass}}
    <div class="silver rounded padded">
      <button onclick="jQuery('#form5').slideToggle()" class="btn rounded small">{{=T('Create/Upload')}}</button>
      <div id="form5" class="row-fluid" style="display:none">
        <div class="span3">{{=file_create_form('%s/static/' % app, 'static')}}<em>{{=T('or alternatively')}}</em></div>
        <div class="span3">{{=file_upload_form('%s/static/' % app, 'static')}}</div>
      </div>
    </div>
  </div>
</div>

<!-- MODULES -->
<h5 id="_modules">
  <label class="component" for="modules_inner" data-tooltip="{{=T('Additional code for your application')}}">{{=T("Modules")}}</label>  
</h5>
<div class="accordion">
  <input type="checkbox" id="modules_inner" checked>
  <div>
    <a href="#" class="right btn rounded small yellow">top</a>
    {{if not modules:}}<p><strong>{{=T("There are no modules")}}</strong></p>{{else:}}
    <ul class="unstyled act_edit">
      {{for m in modules:}}
      {{id="modules__"+m.replace('/','__').replace('.','__')}}
      <li id="{{='_'+id}}"><span id="{{=id}}" class="hashstick">&nbsp;</span>
        <span>
          {{=editfile('modules',m,dict(id=id))}}
          {{if m!='__init__.py':}}
          {{=deletefile([app, 'modules', m], dict(id=id, id2='modules'))}}
          {{pass}}
        </span>
        <span class="file">
          {{=peekfile('modules',m, dict(id=id))}}
        </span>
      </li>
      {{pass}}
    </ul>
    {{pass}}
    <div class="silver rounded padded">
      <button onclick="jQuery('#form6').slideToggle()" class="btn rounded small">{{=T('Create/Upload')}}</button>
      <div id="form6" class="row-fluid" style="display:none">
        <div class="span3">{{=file_create_form('%s/modules/' % app, 'modules')}}<em>{{=T('or alternatively')}}</em></div>
        <div class="span3">{{=file_upload_form('%s/modules/' % app, 'modules')}}</div>
      </div>
    </div>
  </div>
</div>

<!-- PRIVATE -->
<h5 id="_private">
  <label class="component" for="private_inner" data-tooltip="{{=T('These files are not served, they are only available from within your app')}}">{{=T("Private files")}}</label>  
</h5>
<div class="accordion">
  <input type="checkbox" id="private_inner" checked>
  <div>
    <a href="#" class="right btn rounded small yellow">top</a>
    {{if not privates:}}<p><strong>{{=T("There are no private files")}}</strong></p>{{else:}}
    <ul class="unstyled act_edit">
    {{
        path=[]
        for file in privates+['']:
            items=file.split('/')
            file_path=items[:-1]
            filename=items[-1]
            while path!=file_path:
                if len(file_path)>=len(path) and all([v==file_path[k] for k,v in enumerate(path)]):
                    path.append(file_path[len(path)])
                    thispath='private__'+'__'.join(path)
        }}
    <li class="folder">
      <a href="javascript:collapse('{{=thispath}}');" class="file">{{=path[-1]}}/</a>
      <ul id="{{=thispath}}" style="display: none;" class="sublist">{{
        else:
        path = path[:-1]
        }}
      </ul>
    </li>
    {{
                pass
            pass
            if filename:
    }}
    <li>
      <span class="filetools controls">
        {{=editfile('private',file, dict(id="private"))}} {{=deletefile([app,'private',file], dict(id="private",id2="private"))}}
      </span>
      <span class="file">
        {{=peekfile('private',file, dict(id="private"))}}
      </span>
    </li>{{
    pass
    pass
    }}
    {{pass}}
    </ul>
    <div class="silver rounded padded">
      <button onclick="jQuery('#form7').slideToggle()" class="btn rounded small">{{=T('Create/Upload')}}</button>
      <div id="form7" class="row-fluid" style="display:none">
        <div class="span3">{{=file_create_form('%s/private/' % app, 'private')}}<em>{{=T('or alternatively')}}</em></div>
        <div class="span3">{{=file_upload_form('%s/private/' % app, 'private')}}</div>
      </div>
    </div>
  </div>
</div>

<!-- PLUGINS -->
<h5 id="_plugins">
  <label class="component" for="plugins_inner" data-tooltip="{{=T('To create a plugin, name a file/folder plugin_[name]')}}">{{=T("Plugins files")}}</label>
</h5>
<div class="accordion">
  <input type="checkbox" id="plugins_inner" checked>
  <div>
    <a href="#" class="right btn rounded small yellow">top</a>
    {{if plugins:}}
    <ul class="unstyled act_edit">
      {{for plugin in plugins:}}
      {{id="plugins__"+plugin.replace('/','__').replace('.','__')}}
      <li id="{{=id}}">
        {{=A('plugin_%s' % plugin, _class='file', _href=URL('plugin', args=[app, plugin], vars=dict(id=id, id2='plugins')))}}
      </li>
      {{pass}}
    </ul>
    {{else:}}
    <p><strong>{{=T('There are no plugins')}}</strong></p>
    {{pass}}
    <div class="controls comptools">
      {{=button(URL(c="default", f="plugins", args=[app,]), T('Download plugins from repository'))}}
    </div>
    <div class="silver rounded padded">
      <button onclick="jQuery('#form8').slideToggle()" class="btn rounded small">{{=T('Upload')}}</button>
      <div id="form8" class="row-fluid" style="display:none">
        <div class="row-fluid">
          <div class="span3">{{=upload_plugin_form(app, 'plugins')}}</div>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
function filter_files() {
      if(jQuery('#search').val()){
        jQuery.getJSON('{{=URL('search',args=request.args)}}?keywords='+escape(jQuery('#search').val()),null,function(data, textStatus, xhr){
          jQuery('.component_contents li, .formfield, .comptools').hide();
          files=data['files'];
          message=data['message'];
          for(var i=0; i<files.length; i++)
            jQuery('li#_'+files[i].replace(/\//g,'__').replace('.','__')).slideDown();
          jQuery('.w2p_flash').html(message).slideDown();
          });
      } else {
          jQuery('.component_contents li, .formfield, .comptools').slideDown();
          jQuery('.w2p_flash').html('').hide();
      }
}
jQuery(document).ready(function(){
   jQuery('#search').keyup(function(e){
      var code = (e.keyCode ? e.keyCode : e.which);
      if(code==13) filter_files();
   });
   jQuery('#search_start').click(function(e){ filter_files(); });
                                       });
                                       </script>
<!-- end "design" block -->
    
