{{extend 'layout.html'}}
<script>
function delkey(id) {
  jQuery('#'+id).hide();
  jQuery('#'+id+' INPUT').val(String.fromCharCode(127));
  jQuery('#'+id+' TEXTAREA').val(String.fromCharCode(127));
  return false;
}
function hideShowTranslated(){
	jQuery(".translated").closest("p").toggle();
}
</script>

{{block sectionclass}}edit_language{{end}}

<h2>{{=T('Editing Language file')}} "{{=filename}}"</h2>
<a class="button" href="#" onclick="hideShowTranslated(this);">
<span>{{=T('Hide/Show Translated strings')}}</span>
</a>
<div class="languageform">
  {{=form}}
</div>


