{{
  def listfiles(app, dir, regexp='.*\.py$'):
      files = sorted(
         listdir(apath('%(app)s/%(dir)s/' % {'app':app, 'dir':dir}, r=request), regexp))
      files = [x.replace('\\', '/') for x in files if not x.endswith('.bak')]
      return files
}}
{{themes = [f[:-4] for f in listfiles('admin', "static/codemirror/theme", regexp='.*\.css$' )]}}
{{editors = ['default', 'vim', 'emacs']}}
<form id="editor_settings_form" class="form-horizontal">
<div class="control-group">
    <label class="control-label" for="selectTheme">{{=T('Theme')}}</label>
	<div class="controls">{{=SELECT(themes, value=editor_settings['theme'], _name="theme" )}}</div>
	<label class="control-label" for="selectEditor">{{=T('Editor')}}</label>
	<div class="controls">{{=SELECT(editors, value=editor_settings['editor'], _name="editor" )}}</div>
</div>
<div class="control-group">
	<div class="controls"><button type="submit" class="disabled btn btn-primary">{{=T('Save')}}</button></div>
</div>

</form>
<script>
web2py_trap_form("{{=URL('default', 'edit', args=request.args, vars={'settings':True})}}", "editor_settings");
jQuery("#editor_settings_form").on('change', 'select, input', function (e) {
	jQuery("#editor_settings_form button[type=submit]").removeClass('disabled');
});
</script>
