language: python

sudo: false

cache:
  directories:
    - $HOME/.pip-cache/

python:
  - '2.6'
  - '2.7'
  - 'pypy'

install:
  - pip install -e .

before_script:
  - if [[ $TRAVIS_PYTHON_VERSION == '2.6' ]]; then pip install --download-cache $HOME/.pip-cache unittest2; fi
  - if [[ $TRAVIS_PYTHON_VERSION == '2.7' ]]; then pip install --download-cache $HOME/.pip-cache coverage; fi;
  - if [[ $TRAVIS_PYTHON_VERSION == '2.7' ]]; then pip install --download-cache $HOME/.pip-cache codecov; fi


script: export COVERAGE_PROCESS_START=gluon/tests/coverage.ini; ./web2py.py --run_system_tests --with_coverage

after_success:
  - if [[ $TRAVIS_PYTHON_VERSION == '2.7' ]]; then coverage combine; fi
  - if [[ $TRAVIS_PYTHON_VERSION == '2.7' ]]; then codecov; fi

notifications:
  email: true
