<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
    <head>
        <meta http-equiv="content-type" content="text/html; charset=utf-8" />
        <meta http-equiv="P3P" content="CP=\"IDC DSP COR CURa ADMa OUR IND PHY ONL COM STA\"" />
        <title>{{=response.title or URL()}}</title>
        {{response.files.append(URL('static','css/styles.css'))}}
        {{include 'web2py_ajax.html'}}
        <script>jQuery.noConflict();</script>
    </head>
    <body class="{{=T('direction: ltr') == 'direction: rtl' and 'RTLbody' or ''}} {{block sectionclass}}home{{end}}">
        <div id="header">
          <h1 id="start">
            <a href="{{=URL('default', 'index')}}" class="button"><span>web2py&trade; {{=T('administrative interface')}}</span></a>
          </h1>
          {{if response.menu is not None:}}
          <ul id="menu">
              {{for _name,_active,_link in response.menu:}}
              <li>{{=A(SPAN(_name), _href=_link, _class=_active and 'button select' or 'button')}}</li>
              {{pass}}
          </ul>
          {{pass}}
        </div>
        <div id="main">
            <div id="main_inner">
                <div class="flash">{{=response.flash or ''}}</div>
                {{include}}
            </div>
        </div>
        <div id="footer" class="fixed">
            {{=T('Powered by')}} {{=A('web2py', _href='http://www.web2py.com')}}&trade; {{=T('created by')}} Massimo Di Pierro &copy;2007-2011 -
	    {{if hasattr(T,'get_possible_languages'):}}
	    <span>
	      {{=T('Admin language')}}
	      <select name="adminlanguage" onchange="var date = new Date();cookieDate=date.setTime(date.getTime()+(100*24*60*60*1000));document.cookie='adminLanguage='+this.options[this.selectedIndex].value+'; expires='+cookieDate+'; path=/';window.location.reload()">
		{{for language in T.get_possible_languages():}}
		<option {{=T.accepted_language==language and 'selected' or ''}} >{{=language}}</option>
		{{pass}}
	      </select>
	    </span>
	    {{pass}}
        </div>
    </body>
</html>
