body {
  padding-top: 60px;
}

#navbar .auth_navbar, #navbar .auth_navbar a {color:inherit;}

/* bootstrap dropdown */

.dropdown-menu ul {
    left: 100%;
    position: absolute;
    top: 0;
    visibility: hidden;
    margin-top: -1px;
}

.dropdown-menu li:hover ul {
    visibility: visible;
}

.mastheader h1 {
  margin-bottom: 9px;
  font-size: 81px;
  font-weight: bold;
  letter-spacing: -1px;
  line-height: 1;
}

.mastheader h1 {
  font-size: 54px;
}

.mastheader small {
  font-size: 20px;
  font-weight: 300;
}

.navbar .dropdown-menu ul:before {
    border-bottom: 7px solid transparent;
    border-left: none;
    border-right: 7px solid rgba(0, 0, 0, 0.2);
    border-top: 7px solid transparent;
    left: -7px;
    top: 5px;
}

.navbar .dropdown-menu ul:after {
    border-top: 6px solid transparent;
    border-left: none;
    border-right: 6px solid #fff;
    border-bottom: 6px solid transparent;
    left: 10px;
    top: 6px;
    left: -6px;
}

.dropdown-menu span{
  display:inline-block;
}

.chevron-right {
  border-left: 4px solid #000;
  border-right: 4px solid transparent;
  border-bottom: 4px solid transparent;
  border-top: 4px solid transparent;
  content: "";
  display: inline-block;
  height: 0;
  opacity: 0.7;
  vertical-align: top;
  width: 0;
  margin-right:-13px;
  margin-top: 7px;
  float:right;
}

.open > .dropdown-menu  ul { /* fix menu issue when BS2.0.4 is applied */ 
  display: block; 
}

.ie-lte7 #navbar .auth_navbar, #navbar .auth_navbar a {color:expression(this.parentNode.currentStyle['color']); /* ie7 doesn't support inherit */}

#navbar .auth_navbar a:hover {color:white;text-decoration:none;} /* this overwrite bootswatch */

body {
  height:auto; /*to avoid vertical scroll bar*/
}

h1,h2,h3,h4,h5,h6 {font-family: inherit;}

li {margin-bottom: 0;} /*bootswatch*/

.auth_navbar, .navbar .btn-group { padding:0; }

[class^="icon-"],[class*=" icon-"]{background-image:url("../images/glyphicons-halflings.png")} /* right folder for bootstrap black images/icons */
.icon-white{background-image:url("../images/glyphicons-halflings-white.png");} /* right folder for bootstrap white images/icons */

@media only screen and (max-width: 979px) {
  body {
  padding-top: 0px;
  }
  
  .navbar-inner{position:relative;}
  #navbar{bottom:-10px;left:4px;}
  
  div.flash {
    right: 5px;
  }
  
  .dropdown-menu ul {
    visibility: visible;
  }
 
}

@media only screen and (max-width: 479px) {
  body {
  padding-left: 10px;
    padding-right: 10px;
  }
  
  .navbar-fixed-top, .navbar-fixed-bottom {
    margin-left: -10px;
    margin-right: -10px;
  }  
  
  input[type="text"], input[type="password"], select {
    width: 95%;
  }
}
