{{extend 'layout.html'}}

<div class="container">
  <div class="twothirds">
    <div class="padded">
      <h3><img src="{{=URL('static/images', 'web2py_logo.png')}}"> Web Framework</h3>
      <p>Free open source full-stack framework for rapid development of fast, scalable, <a href="http://www.web2py.com/book/default/chapter/01#Security" target="_blank">secure</a> and portable database-driven web-based applications. Written and programmable in <a href="http://www.python.org" target="_blank">Python</a>.</p>
      <table width="100%">
	<tr>
	  <td>
	    <a class="noeffect" href="http://web2py.com/book">
	      <img src="{{=URL('static','images/book-5th.png')}}" />
	    </a>
	  </td>
	  <td>
	    <a class="noeffect" href="https://vimeo.com/album/3016728">
	      <img src="{{=URL('static','images/videos.png')}}" />
	    </a>
	  </td>
	  <td>
	    <a class="noeffect" href="http://link.packtpub.com/SUlnrN">
	      <img src="{{=URL('static','images/book-recipes.png')}}" />
	    </a>
	  </td>
	</tr>
      </table>
      <p>Current version: <a href="{{=URL('download')}}">{{=request.env.web2py_version}} (<a href="http://www.gnu.org/licenses/lgpl.html">LGPLv3 License</a>)</p>
    </div>
  </div>
  <div class="third">
    <div class="padded center">
      <a class="noeffect" href="http://www.infoworld.com/slideshow/24605/infoworlds-2012-technology-of-the-year-award-winners-183313#slide23">
        <img class="spaced-vertical" src="{{=URL('static','images/infoworld2012.jpeg')}}">
      </a>
      <a class="btn rounded red fill" href="{{=URL('download')}}">
        Download Now
      </a>
      <a class="btn rounded red fill" href="{{=URL('examples')}}">
        Quick Examples
      </a>
      <a class="btn rounded red fill" href="https://www.pythonanywhere.com/try-web2py">
        Try it now online
      </a>
      <a class="btn rounded red fill" href="http://web2py.com/poweredby">
        Sites Powered by web2py
      </a>
    </div>
  </div>
</div>
<div class="container">
  <div class="third">
    <div class="padded">
      <h5><a href="{{=URL('what')}}">Batteries Included</a></h5>
      <p>Everything you need in one package including fast multi-threaded web server, SQL database and web-based interface. No third party dependencies but works with <a href={{=URL('what')}}>third party tools</a>.</p>
    </div>
  </div>
  <div class="third">
    <div class="padded">
      <h5><a href="http://web2py.com/demo_admin">Web-Based IDE</a></h5>
      <p>Create, modify, deploy and manage application from anywhere using your browser. One web2py instance can run multiple web sites using different databases. Try the <a href="http://www.web2py.com/demo_admin">interactive demo</a>.</p>
    </div>
  </div>
  <div class="third">
    <div class="padded">
      <h5><a href="{{=URL('documentation')}}">Extensive Docs</a></h5>
      <p>Start with some <a href="{{=URL('examples')}}">quick examples</a>, then read the <a href="http://www.web2py.com/book" target="_blank">manual</a> and the <a href="http://web2py.readthedocs.org/en/latest/" target="_blank">Sphinx docs</a>, watch <a href="http://vimeo.com/album/178500" target="_blank">videos</a>, and join a <a href="{{=URL('default', 'usergroups')}}">user group</a> for discussion. Take advantage of the <a href="http://www.web2py.com/layouts" target="_blank">layouts</a>, <a href="http://www.web2pyslices.com/home?content_type=Package" target="_blank">plugins</a>, <a href="http://www.web2py.com/appliances" target="_blank">appliances</a>, and <a href="http://web2pyslices.com" target="_blank">recipes</a>.</p>
    </div>
  </div>
</div>
