{{extend 'layout.html'}}
<div class="contentleft">
  <h2>Support for web2py<sup style="font-size:0.5em;">TM</sup></h2>

  <p>You can get a lot of free support by joining our <a href="{{=URL('default', 'usergroups')}}">mailing list</a>.</p>

  <h3>Affiliated Companies</h3>

  <p>For long term professional support, code review, and contract work, you can contact our core developers:</p>

    <ul>
      <li><a href="http://experts4solutions.com">experts4solutions</a> (worldwide)</li>
    </ul>

  <p>For professional support, you can also contact one of the companies below:</p>

    <ul>
      <li><a target="_blank" href="http://www.metacryption.com">MetaCryption, LLC</a> (USA)</li>
      <li><a target="_blank" href="http://www.planethost.com">PlanetHost</a> (USA)</li>
      <li><a target="_blank" href="http://www.secution.com">Secution, Inc</a> (USA)</li>
      <li><a target="_blank" href="http://www.wadecybertech.com">Wade Cybertech</a> (Canada)</li>
      <li><a target="_blank" href="http://www.formatics.nl">Formatics</a> (Netherlands)</li>
      <li><a target="_blank" href="http://www.blouweb.com">Blouweb Consultoria Digital</a> (Brasil)</li>
      <li><a target="_blank" href="http://www.tecnodoc.com.ar">Tecnodoc</a> (Argentina)</li>
      <li><a target="_blank" href="http://www.onemewebservices.com">OneMeWebServices</a> (Canada)</li>
      <li><a target="_blank" href="http://www.budgetbytes.nl">BudgetBytes</a> (The Netherlands)</li>
      <li><a target="_blank" href="http://www.androsoft.pl">ANDROSoft</a> (Poland)</li>
      <li><a target="_blank" href="http://itjp.net.br/">ITJP</a> (Brazil)</li>
      <li><a target="_blank" href="http://emotionull.com">Emotionull</a> (Greece and Cyprus)</li>
      <li><a target="_blank" href="http://zarealye.com/ca/Collect_Advantage">Zarealye, Ltd.</a> (Russia)</li>
      <li><a target="_blank" href="http://www.vsa-services.com/">VSA Services</a> (Singapore)</li>
      <li><a target="_blank" href="http://www.albendas.com">Albendas</a> (Spain)</li>
      <li><a target="_blank" href="https://loadinfo-net.appspot.com">LoadInfo</a> (Bulgaria)</li>
      <li><a target="_blank" href="http://www.appliedobjects.com">Applied Objects</a> (New Zealand)</li>
      <li><a target="_blank" href="http://www.sistemasagiles.com.ar/">Sistemas Ágiles</a> ("Agile Systems") (Argentina)</li>
    </ul>

</div>

{{block leftbadges}}{{end}}

