{{extend 'layout.html'}}
<br /><br />
<div class="contentleft" style="z-index:0;text-align:center;">
  <h2>{{=T('web2py videos')}}</h2>
  <div id="vimeo" >
    <object style="z-index:0" type="application/x-shockwave-flash" width="500" height="400" data="http://vimeo.com/hubnut/?user_id=user1959410&amp;color=00adef&amp;background=000000&amp;fullscreen=1&amp;slideshow=0&amp;stream=channel&amp;id=139244&amp;server=vimeo.com">
      <param name="quality" value="best" />
      <param name="allowfullscreen" value="true" />
      <param name="allowscriptaccess" value="always" />
      <param name="scale" value="showAll" />
      <param name="movie" value="http://vimeo.com/hubnut/?user_id=user1959410&amp;color=00adef&amp;background=000000&amp;fullscreen=1&amp;slideshow=0&amp;stream=channel&amp;id=139244&amp;server=vimeo.com" />
    </object>
  </div>
</div>



