<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <link href="{{=URL('static','css/calendar.css')}}" rel="stylesheet" type="text/css"/>
    <link href="{{=URL('static','css/web2py.css')}}" rel="stylesheet" type="text/css"/>
    <link href="{{=URL('static','css/stupid.css')}}" rel="stylesheet" type="text/css"/>
    <link href="{{=URL('static','css/examples.css')}}" rel="stylesheet" type="text/css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link rel="shortcut icon" href="{{=URL('static','images/favicon.ico')}}" type="image/x-icon">
    <link rel="apple-touch-icon" href="{{=URL('static','images/favicon.png')}}">
    {{
    left_sidebar_enabled = globals().get('left_sidebar_enabled', False)
    right_sidebar_enabled = globals().get('right_sidebar_enabled', False)
    middle_column = {0: 'fill', 1: 'threequarters', 2: 'half'}[
    (left_sidebar_enabled and 1 or 0)+(right_sidebar_enabled and 1 or 0)]
    }}
    {{include "web2py_ajax.html"}}
  </head>
  <body class="black">   
    <header class="black padded">      
      <div class="container middle max900">
        <div class="fill middle">                    
          <label class="ham" for="menu"><i class="fa fa-bars padded"></i></label>
          <div class="burger accordion">
            <input type="checkbox" id="menu"/>
            {{=MENU(response.menu,_class='menu')}}
          </div>
        </div>
      </div>
    </header>
    {{if response.flash:}}
    <div class="w2p_flash">
      {{=response.flash}}
    </div>
    {{pass}}
    <main class="white">
      <div class="container max900">
        {{if left_sidebar_enabled:}}
        <div class="quarter padded">{{block left_sidebar}}{{end}}</div>
        {{pass}}
        <div class="{{=middle_column}} padded">{{include}}</div>
        {{if right_sidebar_enabled:}}
        <div class="quarter padded">{{block right_sidebar}}{{end}}</div>
        {{pass}}
      </div>
      <div class="silver center padded">
        <a class="fa fa-twitter" href="https://twitter.com/web2py/"></a>
        <a class="fa fa-facebook" href="https://www.facebook.com/web2py/"></a>
      </div>
    </main>
    <footer class="black">
      <div class="container padded max900">
        <div class="fill">
          Copyright @ 2016 - Powered by Web2py
        </div>
      </div>
    </footer>
  </body>  
  <script>
    // prevent android horizontal scrolling
    window.addEventListener("scroll", function(){window.scroll(0, window.pageYOffset);}, false);
  </script>
</html>
