{{extend 'layout.html'}}
{{import cgi}}

<div class="contentleft">
  <h1>{{=T('Docs for')}} {{=title}}</h1>
  
  <div align="right">
    [ <a href="http://docs.python.org/tut/">Python Tutorial</a> ]
    [ <a href="http://docs.python.org/lib/">Python Libraries</a> ]
    [ <a href="/{{=request.application}}/static/epydoc/index.html">web2py epydoc</a> ]
  </div>
  
  <h2>{{=T('Description')}}</h2>
  
  <br/>
  {{if t:}}
  {{=t}}{{if d:}} extends {{=d}}{{pass}}
  {{pass}}
  <br/>
  {{pass}}
  
  {{if doc:}}<br/><br/>{{=MARKMIN(doc)}}{{pass}}
  <br/><br/>
  <div class="boxInfo">
    {{if attributes:}}
    <h2>{{=T('Attributes')}}</h2>
    
    <table>
      <tr><td colspan=2><hr/></td></tr>
      {{for key in sorted(attributes):}}
      {{doc1,t1,c1,d1=attributes[key]}}
      <tr>
	<td>
	{{if key.count('.')<2:}}
          {{=A(key,_rel="nofollow",_href=URL(args=key.split('.')))}}
	{{else:}}
          {{=key}}
        {{pass}}	
	</td>
        <td>
	  {{if t1:}}
	  {{=t1}}{{if d1:}} extends {{=d1}}{{pass}}
	  {{if c1:}} belongs to class {{=c1}}{{pass}}
	  <br/>
	  {{pass}}
	  {{if doc1:}}{{=MARKMIN(doc1)}}{{pass}}
    </td>
      </tr>
      <tr><td colspan=2><hr/></td></tr>
      {{pass}}
    </table>
  </div>
  {{pass}}
</div>
