@import url(http://fonts.googleapis.com/css?family=Economica);
@@import url(http://fonts.googleapis.com/css?family=Belleza);

body { font-family: Arial, Helvetica; }
a, a:visited, a:hover, h1,h2,h3,h4,h5 {color: #658883}
a.btn-danger, a.btn-warning, a.btn-success {color:white} 
h1,h2,h3,h4,h5 { font-family: "Economica", Arial, Helevtica; }
body {
    background: url('../images/stripes.png') repeat-x;
}
#header {
    margin-top: 40px;
}
.btn-180 {
    width: 180px;
}
.page-header {
    border-bottom: 0;
}
	     